@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page { margin: 0.5cm; size: auto; }
  body { background: white; }
  aside, header, button, .no-print { display: none !important; }
  main { overflow: visible !important; }
}